body{
    background-color: white;
}
h1{
    color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    background: black;
    margin: 64px 512px 64px 512px;
}
p{
    color: red;
    /* margin-bottom: 40px;
    margin-left: 10px; */
    margin: 0px 256px 18px 256px;
}
.exemplo-back {
    height: 600px;
    background-image:url(../img/pexels-andrei-iusco-23254751-6661600.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 256px 24px 256px;
}
