h1{
    color: #00a700;
}
p{
    color: #09ff00;
}
body{
    background-color: #5e6666
}
.exemplo-back{
    height: 600px;
    background:#ff0000;
    background-image:url(../img/pexels-andrei-iusco-23254751-6661600.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
}